.template{
    height: 100%;
    margin: 0px;
    min-height: 100vh; 
}

.primeryTitle {
    font-size: 78px;
    margin-right: 50px;
    margin-top: 170px;
    text-align: right;
    color:white;
}

.primeryText {
    font-size: 20px;
    margin-right:50px;
    margin-top: 80px;
    text-align: right;
    color:white;
    border: 1px;
    border-color: black;
    white-space: pre-wrap;
}
