<div class="template" id="primaryAboutTextTemplate">
<div class="paragraphWrapper">
        <div class="paragraph">
                <div class= "paragraphText">
                  {{ meatExDescp}}
                </div>
             </div>

             <div class="paragraph">
                    <div class= "paragraphText">
                      {{ fishExDescp }}
                    </div>
                 </div>

                 <div class="paragraph">
                        <div class= "paragraphText">
                          {{ brunchExDescp }}
                        </div>
                     </div>
                    </div>
</div>
