<a (click)="show()">
    <img src="{{finalPath}}" class="img-fluid" alt="Responsive image">
</a>


<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="bigPhotoWrapper">
        <img src="{{finalPath}}" id="imagepreview" class="image">

        <div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hide()">Close</button>
        </div>
    </div>
</div>