<div class="mainPage">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" style="color:white" routerLinkActive="active" routerLink="contact">צור קשר</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color:white" routerLinkActive="active" routerLink="hosting">האירוח</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color:white" routerLinkActive="active" routerLink="photosAtmos">תמונות-אווירה</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color:white" routerLinkActive="active" routerLink="photosFood">תמונות-אוכל</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="color:white" routerLinkActive="active" routerLink="mainPage">Home</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>